name: Workflow CI - MLProject

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  ml-ci:
    runs-on: ubuntu-latest

    steps:

    # Checkout repo
    - name: Checkout repository
      uses: actions/checkout@v3

    # Setup Python
    - name: Set up Python 3.12.7
      uses: actions/setup-python@v4
      with:
        python-version: "3.12.7"

    # Install dependencies (pip only)
    - name: Install Python dependencies
      run: |
        pip install --upgrade pip
        pip install mlflow==2.12.0 \
          scikit-learn pandas numpy \
          google-auth google-auth-oauthlib google-auth-httplib2 \
          wheel setuptools

    # Run MLflow project (no conda)
    - name: Run MLflow Project
      run: |
        mlflow run MLProject/ \
          --no-conda \
          -P data_path=MLProject/studentsperformance_preprocessing/StudentsPerformance_preprocessing.csv

    # Get experiment id & run id
    - name: Get MLflow Run Information
      id: get_ids
      run: |
        EXP_ID=$(ls mlruns | head -n 1)
        RUN_ID=$(ls mlruns/$EXP_ID | grep -v meta.yaml | sort | tail -n 1)

        echo "EXP_ID=$EXP_ID" >> $GITHUB_ENV
        echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV

        echo "Experiment ID: $EXP_ID"
        echo "Run ID: $RUN_ID"

    # Upload artifacts
    - name: Upload MLflow Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-artifacts
        path: mlruns/

    # Build Docker image using MLflow
    - name: Build Docker Image
      run: |
        mlflow models build-docker \
          -m "mlruns/${EXP_ID}/${RUN_ID}/artifacts/model" \
          -n student_performance_model

    # Login to Docker Hub
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # Tag docker
    - name: Tag Docker Image
      run: |
        docker tag student_performance_model:latest \
          ${{ secrets.DOCKER_USERNAME }}/student_performance_model:latest

    # Push docker image
    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/student_performance_model:latest
