name: CI Direct Model Build

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train-and-deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.7"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas scikit-learn joblib pydrive2 google-api-python-client docker

      - name: Train and save model
        working-directory: MLProject
        run: |
          python modelling.py --data_path=data/StudentsPerformance_preprocessing.csv

      - name: Check artifact path
        run: |
          ART="MLProject/artifacts/random_forest_model"
          if [ ! -d "$ART" ]; then
            echo "ERROR: Artifact folder not found!"
            exit 1
          fi
          echo "Artifact found."

      - name: Upload to Google Drive
        env:
          GOOGLE_DRIVE_SERVICE_ACCOUNT_JSON: ${{ secrets.GOOGLE_DRIVE_SERVICE_ACCOUNT_JSON }}
          DRIVE_FOLDER_ID: "1-kDHpp4yBNSomgiNEZEyDPreZ1myTZOI"
        run: |
          ART="MLProject/artifacts/random_forest_model"
          python MLProject/upload_to_drive.py "$ART" "$DRIVE_FOLDER_ID"

      - name: Build Docker image
        run: |
          ART="MLProject/artifacts/random_forest_model"
          docker build -t student-performance-model MLProject

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Tag Docker image
        run: docker tag student-performance-model ${{ secrets.DOCKERHUB_USERNAME }}/student-performance-model:latest

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/student-performance-model:latest

      - name: Complete
        run: echo "CI workflow finished successfully!"
