name: Workflow CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Set up Python 3.12.7
      - name: Set up Python 3.12.7
        uses: actions/setup-python@v5
        with:
          python-version: '3.12.7'

      # 3. Check Python environment
      - name: Check Python Environment
        run: |
          python --version
          pip --version

      # 4. Set up Conda from conda.yaml
      - name: Set up Conda Environment
        uses: conda-incubator/setup-miniconda@v2
        with:
          environment-file: MLProject/conda.yaml
          activate-environment: student_performance_env
          auto-activate-base: false

      # 5. Run MLflow project
      - name: Run MLflow project
        run: |
          conda run -n student_performance_env mlflow run MLProject/ \
            -P data_path=MLProject/studentsperformance_preprocessing/StudentsPerformance_preprocessing.csv

      # 6. Get latest MLflow RUN_ID from correct experiment
      - name: Get latest MLflow run_id
        run: |
          EXP_ID=$(conda run -n student_performance_env mlflow experiments list | awk '/student_performance_experiment/ {print $1}')
          echo "Using EXP_ID=$EXP_ID"
          
          RUN_ID=$(conda run -n student_performance_env mlflow runs list \
                      --experiment-id $EXP_ID \
                      --order-by start_time desc \
                      --max-results 1 | awk 'NR==2 {print $1}')
          
          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV
          echo "Using RUN_ID=$RUN_ID"

      # 7. Upload MLflow artifacts
      - name: Upload MLflow artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: MLProject/mlruns/

      # 8. Build Docker Image via MLflow
      - name: Build Docker Model Image
        run: |
          conda run -n student_performance_env mlflow models build-docker \
            -m MLProject/mlruns/${{ env.EXP_ID }}/${{ env.RUN_ID }}/artifacts/model \
            -n ${{ secrets.DOCKERHUB_USERNAME }}/student-ml-model:latest

      # 9. Log in to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      # 10. Push Docker image
      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/student-ml-model:latest

      # 11. Finish Job
      - name: Complete job
        run: echo "CI/CD workflow finished successfully."
