name: MLflow CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-train-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        working-directory: MLProject
        run: |
          pip install mlflow dagshub scikit-learn pandas numpy matplotlib seaborn joblib

      - name: Run MLflow Project (train model)
        working-directory: MLProject
        run: |
          mlflow run . -P data_path=studentsperformance_preprocessing/StudentsPerformance_preprocessing.csv --env-manager=local

      - name: Show latest run info
        working-directory: MLProject
        run: |
          RUN_ID=$(ls -t mlruns/0 | head -n 1)
          echo "Latest run ID: $RUN_ID"
          echo "Artifacts stored at mlruns/0/$RUN_ID"

      - name: Login to Docker Hub
        env:
          DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
        run: echo "${DOCKERHUB_TOKEN}" | docker login -u "satriana3" --password-stdin

      - name: Build and Push Docker image
        working-directory: MLProject
        run: |
          set -e
          RUN_ID=$(ls -t mlruns/0 | head -n 1)
          MODEL_PATH="mlruns/0/$RUN_ID/artifacts/model"
          
          if [ ! -d "$MODEL_PATH" ]; then
            echo "❌ Model folder tidak ditemukan!"
            exit 1
          fi

          echo "✅ Model ditemukan di: $MODEL_PATH"
          mlflow models build-docker -m "$MODEL_PATH" -n student-performance-mlflow
          docker tag student-performance-mlflow satriana3/student-performance-mlflow:latest
          docker push satriana3/student-performance-mlflow:latest
