name: Workflow CI - MLProject

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  ml-ci:
    runs-on: ubuntu-latest

    steps:

    # Checkout repo
    - name: Run actions/checkout@v3
      uses: actions/checkout@v3

    # Setup Python
    - name: Set up Python 3.12.7
      uses: actions/setup-python@v4
      with:
        python-version: "3.12.7"

    # Check ENV
    - name: Check Env
      run: |
        python --version
        pip --version
        ls -R .

    # Install Python dependencies for MLflow CLI run
    - name: Install dependencies
      run: |
        pip install mlflow==2.12.0 scikit-learn pandas numpy google-auth google-auth-oauthlib google-auth-httplib2 pydrive

    # Run MLProject using MLflow
    - name: Run mlflow project
      run: |
        mlflow run MLProject \
          -P data_path="MLProject/studentsperformance_preprocessing/StudentsPerformance_preprocessing.csv"

    # GET latest MLflow run_id
    - name: Get latest MLflow run_id
      id: get_runid
      run: |
        run_id=$(ls mlruns/0 | grep -v meta.yaml | sort | tail -n 1)
        echo "run_id=$run_id" >> $GITHUB_ENV
        echo "Latest run_id: $run_id"

    # Install Python deps again inside runner for uploading to Drive
    - name: Install Python dependencies
      run: |
        pip install pydrive google-auth google-auth-oauthlib google-auth-httplib2

    # Upload artifacts (mlruns folder) to Google Drive
    - name: Upload to Google Drive
      env:
        GDRIVE_CLIENT_ID: ${{ secrets.GDRIVE_CLIENT_ID }}
        GDRIVE_CLIENT_SECRET: ${{ secrets.GDRIVE_CLIENT_SECRET }}
        GDRIVE_REFRESH_TOKEN: ${{ secrets.GDRIVE_REFRESH_TOKEN }}
      run: |
        python MLProject/upload_to_drive.py mlruns

    # Build docker model using mlflow
    - name: Build Docker Model
      run: |
        mlflow models build-docker -m "mlruns/0/${run_id}/artifacts/model" -n student_performance_model

    # Login to Docker Hub
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # Tag docker
    - name: Tag Docker Image
      run: |
        docker tag student_performance_model:latest \
        ${{ secrets.DOCKER_USERNAME }}/student_performance_model:latest

    # Push docker to hub
    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/student_performance_model:latest
