name: CI Workflow

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.12.7
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: 3.12.7
          auto-activate-base: false

      - name: Create and activate conda environment
        run: |
          conda env create -f MLProject/conda.yaml -n mlproject-env
          conda activate mlproject-env
          python --version

      - name: Check environment
        run: |
          source "$(conda info --base)/etc/profile.d/conda.sh"
          conda activate mlproject-env
          conda list

      - name: Install dependencies (if any extra)
        run: |
          conda activate mlproject-env
          pip install -r MLProject/requirements.txt || echo "No extra requirements.txt found"

      - name: Run MLflow project
        run: |
          conda activate mlproject-env
          mlflow run MLProject/MLProject -P data_path=MLProject/studentsperformance_preprocessing/StudentsPerformance_preprocessing.csv

      - name: Get latest MLflow run ID
        run: |
          conda activate mlproject-env
          RUN_ID=$(mlflow runs list --experiment-id 0 --order-by start_time --desc | head -n 2 | tail -n 1 | awk '{print $1}')
          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV

      - name: Upload artifacts to GitHub
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: MLProject/MLProject/mlruns/0/$RUN_ID/artifacts/

      - name: Build Docker Model
        run: |
          docker build -t mydockerhubuser/studentsperformance:latest MLProject/MLProject

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Tag Docker Image
        run: |
          docker tag mydockerhubuser/studentsperformance:latest mydockerhubuser/studentsperformance:$GITHUB_SHA

      - name: Push Docker Image
        run: |
          docker push mydockerhubuser/studentsperformance:latest
          docker push mydockerhubuser/studentsperformance:$GITHUB_SHA
